.navbar {
  width: 100%;
  height: 8rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 9;
  transition: .5s;
}

.links-container{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link-item {
  color: #fff;
}

.link {
  font-size: 2rem;
  padding: 1rem;
  opacity: .7;
  transition: all .5s linear;
}

.link.active, .link:hover {
  opacity: 1;
  color: #d5be8b;
  text-decoration: underline;
}

.user-interactions {
  display: flex;
  position: absolute;
  right: 5vw;
  top: 50%;
  transform: translateY(-50%);
}

.cart, .user {
  width: 3rem;
  height: 3rem;
  position: relative;
  margin: 1rem;
  cursor: pointer;
}

.cart-icon, .user-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-item-count {
  font-family: 'Lato', sans-serif;
  color: #d5be8b;
  padding: .5rem;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: #190c05;
  position: absolute;
  bottom: -1.2rem;
  left: -1.2rem;
}

// HEADER

.header-section {
  width: 100%;
  height: 100vh;
  background-image: url(./image/header.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-heading {
  font-size: 8rem;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
}

.header-heading span {
  color: #d5be8b;
}

// BEST SELLING PRODUCT

.best-selling-product-section {
  position: relative;
  padding: 6rem 5vw;
}

.section-title {
  text-transform: capitalize;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.product{
  &-container{
  display: flex;
  justify-content: space-between;
  }
  &-card{
    border: 1.5rem solid #d5be8b;
    width: 30rem;
    height: 30rem;
    overflow: hidden;
    position: relative;
    background: #d5be8b;
    cursor: pointer;
    &:nth-child(even){
      border-color: #190c05;
      background-color: #190c05;
    }
  }
  &-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
  }
  &-name{
    position: absolute;
    color: #fff;
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
    font-size: 2.5rem;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: .5s;
  }
}

.product-card:hover .product-name{
  opacity: 1;
}

.product-card:hover .product-img{
  opacity: .5;
}

// MID SECTION

.mid-section{
  width: 100%;
  height: 80rem;
  padding: 4rem 5vw;
  &-item-container{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 2rem;
  }
  &-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &-info{
    width: 50%;
    height: 100%;
    background-color: #fff;
    display: block;
    margin-left: auto;
    padding: 5rem;
    text-align: center;
    opacity: .8;
  }
  &-title{
    font-size: 6rem;
    line-height: 10rem;
    font-weight: 600;
    span{
      color: #d5be8b;
    }
  }
  &-text{
    font-family: 'Lato', sans-serif;
    font-size: 2.5rem;
    line-height: 4.5rem;
    margin-top: 3rem;
    opacity: 0.5;
  }
}

// IMAGE COLLAGE

.image-section{
  width: 100%;
  height: 60rem;
  padding: 5rem 5vw;
  &-collage{
    width: 100%;
    height: 100%;
    background: url(./image/bg-1.png);
    background-size: cover;
  }
  &-collection{
    position: relative;
    display: block;
    width: 50%;
    height: 100%;
    background-color: #fff;
    margin: auto;
    &-img{
      position: absolute;
      object-fit: cover;
      cursor: pointer;
      transition: .5s;
      &:nth-child(1){
        width: 35rem;
        height: 35rem;
        top: 2rem;
        left: 4rem;
      }
      &:nth-child(2){
        width: 25rem;
        height: 25rem;
        top: 20rem;
        left: 17rem;
      }
      &:nth-child(3){
        width: 25rem;
        height: 25rem;
        top: 10rem;
        left: 33rem;
      }
      &:hover{
        transform: translateY(-1rem);
      }
    }
  };
  
}

// REVIEW SECTION

.review-section{
  padding: 5rem 5vw;
  &-title{
    span{
      color: #d5be8b
    }
  }
  &-container{
    margin: 5rem;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
  }
  &-card{
    width: 25rem;
    height: auto;
    font-family:'Lato', sans-serif ;
  }
  &-user-dp{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 1rem;
      left: 1rem;
      bottom: 1rem;
      right: 1rem;
      border: .4rem solid #fff;
      border-radius: 50%;
    }
    &::after {
      content: attr(data-rating);
      position: absolute;
      bottom: 0;
      right: 0;
      padding: .5rem .5rem;
      border-radius: 50%;
      background-color: #d5be8b;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-title{
    margin: 2rem;
    font-size: 2rem;
    line-height: 2.5rem;
    text-transform: capitalize;
  }
  &-text{
    opacity: .7;
  }
}

.end-section{
  padding: 5rem 5vw;
  &-item-container{
    width: 100%;
    height: 65rem;
    position: relative;
    padding: 2rem;
  }
  &-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &-info{
    width: 50%;
    height: 100%;
    background-color: #fff;
    display: block;
    margin:0;
    padding: 5rem;
    text-align: center;
    opacity: .8;
  }
  &-title{
    font-size: 10rem;
    line-height: 15rem;
    font-weight: 600;
    span{
      color: #d5be8b;
    }
  }
  &-text{
    font-family: 'Lato', sans-serif;
    font-size: 2.5rem;
    line-height: 4.5rem;
    margin-top: 3rem;
    opacity: 0.5;
  }
}
